.chatPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #151b23;
    color: #ffffff;
}

.chatHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #238636;
    color: #ffffff;
    border-bottom: 1px solid #1a5a28;
}

.chatContent {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 20px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userName {
    font-weight: bold;
    color: #ffffff;
}

.userNickname {
    color: #a9a9a9;
}

.messagesContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #151b23;
    align-items: flex-start;
}

.nickname {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0.9em;
    text-align: center;
    color: #a9a9a9;
}

.miniInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.myMessage {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #238636;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    word-wrap: break-word;
    color: #ffffff;
}

.otherMessage {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #656565;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    word-wrap: break-word;
    color: #000000;
}

.content {
    font-size: 1.2em;
    margin-top: 5%;
    color: #ffffff;
}

.timestamp {
    font-size: 0.9em;
    color: #a9a9a9;
}

.input {
    background-color: #151b23;
    color: #ffffff;
    width: 100%;
    border-width: 1px;
    border-radius: 2px;
}

.link {
    margin-bottom: 2%;
    color: #238636;
}

.inputContainer {
    gap: 2%;
    display: flex;
    padding: 10px;
    background-color: #151b23;
    border: 1px solid #1a5a28;
    border-radius: 10px;
}

.messageInput {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #238636;
    margin-right: 10px;
    background-color: #151b23;
    color: #ffffff;
}

.sendButton {
    padding: 10px 20px;
    background-color: #238636;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sendButton:hover {
    background-color: #1a5a28;
}
