.chatPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}
.chatHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #075e54;
    color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
.chatContent{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userName {
    font-weight: bold;
}

.userNickname {
    color: #c9c9c9;
}

.messagesContainer {
    flex: 1;
    display: flex; /* Agrega display flex */
    flex-direction: column; /* Apila los mensajes verticalmente */
    overflow-y: auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #e5ddd5;
    align-items: flex-start; /* Asegura que los elementos estén alineados a la izquierda por defecto */
}
.nickname{
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove padding */
    line-height: 1; /* Ensure line height doesn't exceed font size */
    font-size: 0.9em;
    text-align: center;
}
.miniInfo{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    align-content: center;
    text-align: center; 
}
.myMessage {
    align-self: flex-end; /* Esto mantiene los mensajes propios a la derecha */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.otherMessage {
    align-self: flex-start; /* Esto asegura que los mensajes de otros estén alineados a la izquierda */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.content{
    font-size: 1.2em;
    margin-top: 5%;
}
.timestamp{
    font-size: 0.9em;
}
.input{
    background: #151b23;
    color: #ffffff;
    width: 100%;
    border-width: 1px;
    border-radius: 2px;
}

.link {
    margin-bottom: 2%;

.inputContainer {
    gap: 2%;
    display: flex;
    padding: 10px;
    background-color: #151b23;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.messageInput {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.sendButton {
    padding: 10px 20px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
