.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #238636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}
.comment:hover {
    background-color: #1a5a28;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.commentContent {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.date {
    font-size: 0.8rem;
    color: gray;
}

