.contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    background-color: aqua;
}

.Input {
    width: 100%;
    max-width: 600px; /* Igual al tamaño máximo del tweet */
    padding: 15px;    /* Igual al padding del tweet */
    font-size: 15px;  /* Mismo tamaño de fuente */
    border: 1px solid #238636;
    border-radius: 10px;
    background-color: #151b23;
    color: #ffffff;
    outline: none;
}

.postButton {
    padding: 10px 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: #238636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}

.postButton:hover {
    background-color: #1a5a28;
}
