.Img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.ImgContainer{
    width: 10em;
    height: 10em;
    display: "flex";
    align-items: "center";
    padding: 0;
    margin: 0;
}
.Paragraph{
    color: #ffffff;
}
.Loguito{
    max-width: 100%;
    height: 50vh;
}
@media (max-width: 768px) { /* Applies to screens narrower than 768px */
    .Loguito {
        margin-bottom: 20%;
        height: 50vh; /* Maintain aspect ratio */
    }
}