.tweetPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #151b23;
    color: #194eb9;
}

.tweetPage h1 {
    font-size: 24px;
    font-weight: bold;
    font-size: 1.5rem; /* Ajuste el tamaño según sea necesario */
    margin: 0; /* Elimina el margen por defecto */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra los encabezados horizontalmente */
    gap: 40px; /* Espacio entre los encabezados */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
    width: 100%;
}

.titleContainer {
    width: 100%;
}

.Hr {
    border: none;
    border-top: 2px solid green; /* Ajusta color y grosor según sea necesario */
    margin: 0 10px; /* Ajusta el espacio alrededor de la línea */
}

.inputContainer {
    display: flex;                /* Cambiar a flex para que los elementos estén en fila */
    align-items: center;          /* Alineación vertical centrada */
    width: 100%;
    max-width: 600px;             /* Igual al tamaño máximo del tweet */
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #151b23;
    color: #ffffff;
    outline: none;
}

.Input {
    flex: 1;                      /* El input ocupa el espacio disponible */
    padding: 15px;
    font-size: 15px;
    border: 1px solid #238636;
    border-radius: 10px;
    background-color: #151b23;
    color: #ffffff;
    outline: none;
}

.postButton {
    padding: 10px 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: #238636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;            /* Espacio entre el input y el botón */
}

.postButton:hover {
    background-color: #1a5a28;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: #238636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.comment:hover {
    background-color: #1a5a28;
}

/* Estilo del contenedor de cada tweet */
.tweetContainer {
    width: 100%;                 /* Se ajusta al 100% del contenedor */
    max-width: 600px;            /* Igual que el input */
    padding: 20px;               /* Relleno interno para el contenedor */
    background-color: #151b23;
    border-radius: 10px;
    color: white;                /* Color del texto */
    font-size: 15px;
    margin-top: 20px;            /* Espacio encima del tweet */
    margin-bottom: 20px;         /* Espacio entre cada tweet (debajo de cada uno) */
}
